ul {
  list-style-type: none;
  margin: 0;
  border: 2px solid plum;
}

.content ul li:first-of-type {
  border-top: 1px solid #ddd;
  border: 2px solid paleturquoise;
}

.content ul li {
  border-bottom: 1px solid #ddd;
  padding: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  background-color: #61dafb;
}

.button {
  background-color: salmon;
  border: none;
  outline: none;
}

h3 {
  margin: 0;
}

.table-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
  background-color: skyblue;
}

.container > button {
  margin-top: 10px;
  background-color: mediumaquamarine;
}

.App-header {
  background-color: peachpuff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
