ul {
  list-style-type: none;
  margin: 20px;
  color: #4c5762;
}

.content ul li:first-of-type {
  border-top: 1px solid #ddd;
}

.content ul li {
  border-bottom: 1px solid #ddd;
  padding: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}

.section-button {
  background-color: #5c84af;
  border: none;
  outline: none;
  padding: 10px;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

.title {
  margin: 20px;
  color: #4c5762;
}

.section-title {
  color: #5c84af;
}

.table-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px;
}

.reset-button {
  margin-top: 10px;
  background-color: #c23b22;
  border: none;
  outline: none;
  color: white;
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
  margin: 20px;
}

.App-header {
  background-color: peachpuff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
